/*
$background-color: #222831;
$title-color: #a7d129;
$text-color: #bef992;

others option: 
color naranja: #f0a500;
color rosita claro: #e6d5b8;


// PALETA MARRON -NARANJA https://colorhunt.co/palette/257799
// Paleta Azules oscuros https://colorhunt.co/palette/167893
// paleta claros y fondo oscuro https://colorhunt.co/palette/258333
*/
