.App {
  text-align: center;
  height: 100vh;
  background-color: #222831;
  font-family: Roboto Slab;
  color: #bef992;
  //display: flex;
}
/*
.section {
  width: 100px;
  height: 100px;
  border: 2px solid orange;
  border-radius: 2%;
  box-shadow: 0px 0px 5px 5px rgba(173, 166, 173, 1);
}
*/
