* {
  margin: 0;
  box-sizing: border-box;
  /*padding: 20px;*/
  list-style-type: none;
}

body {
  background-image: url(../images/PokeBall.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 50px;
}
