.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  background-image: url(../images/poke3.png);
  // background-repeat: no-repeat;
  //background-size: cover;
  // background-color: rgb(128, 128, 201);
  padding: 5px;
  margin: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  &__pokeimg {
    width: 200px;
    height: 200px;
    background-image: url(../images/img.back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }
  &__title {
    padding: 10px;
    margin-top: 10px;
    //border-bottom: 1px solid black;
    text-transform: uppercase;
    background-color: rgb(211, 45, 45);
    border-radius: 50%;
    border: solid black 2px;
    color: white;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  }
  &__ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &--li {
      border: black 1px solid;
      border-radius: 50%;
      text-align: left;
      margin: 20px;
      padding: 10px;
      text-transform: capitalize;
      font-weight: bold;
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
      background-color: white;
      color: rgb(211, 45, 45);
    }
  }
}
